### Import the necessary packages

In [1]:
import requests
import json
import pandas as pd
import numpy as np

### Get 1823 Customer Satisfaction data from data.gov.hk using api provided at the website

In [2]:
base_url = "https://api.data.gov.hk/v1/historical-archive/get-file?url=http%3A%2F%2Fwww.1823.gov.hk%2Ff%2Fupload%2F1410%2F1823_external_survey.json&amp;time="

In [3]:
response_1 = requests.get(base_url + "20220112-0921")

The earliest possible data for retrieval is on May 2020.

### View the results

In [4]:
response_1.json()

[{'Date': {'Year': '2020', 'Month': 'May'},
  'Waiting_time': '4.25',
  'Manner_attitude': '4.71',
  'Understand_need': '4.63',
  'Clear_info': '4.62',
  'Adequate_info': '4.56',
  'Overall_service': '4.52',
  'Total_score': '4.53'},
 {'Date': {'Year': '2020', 'Month': 'June'},
  'Waiting_time': '3.95',
  'Manner_attitude': '4.71',
  'Understand_need': '4.62',
  'Clear_info': '4.64',
  'Adequate_info': '4.57',
  'Overall_service': '4.48',
  'Total_score': '4.48'},
 {'Date': {'Year': '2020', 'Month': 'July'},
  'Waiting_time': '3.79',
  'Manner_attitude': '4.69',
  'Understand_need': '4.61',
  'Clear_info': '4.61',
  'Adequate_info': '4.52',
  'Overall_service': '4.4',
  'Total_score': '4.41'},
 {'Date': {'Year': '2020', 'Month': 'Aug'},
  'Waiting_time': '4.18',
  'Manner_attitude': '4.71',
  'Understand_need': '4.61',
  'Clear_info': '4.61',
  'Adequate_info': '4.53',
  'Overall_service': '4.49',
  'Total_score': '4.5'},
 {'Date': {'Year': '2020', 'Month': 'Sept'},
  'Waiting_time': '4.27',
  'Manner_attitude': '4.74',
  'Understand_need': '4.67',
  'Clear_info': '4.67',
  'Adequate_info': '4.6',
  'Overall_service': '4.57',
  'Total_score': '4.57'},
 {'Date': {'Year': '2020', 'Month': 'Oct'},
  'Waiting_time': '4.34',
  'Manner_attitude': '4.72',
  'Understand_need': '4.64',
  'Clear_info': '4.66',
  'Adequate_info': '4.58',
  'Overall_service': '4.58',
  'Total_score': '4.57'},
 {'Date': {'Year': '2020', 'Month': 'Nov'},
  'Waiting_time': '4.37',
  'Manner_attitude': '4.74',
  'Understand_need': '4.67',
  'Clear_info': '4.69',
  'Adequate_info': '4.63',
  'Overall_service': '4.6',
  'Total_score': '4.6'},
 {'Date': {'Year': '2020', 'Month': 'Dec'},
  'Waiting_time': '4.13',
  'Manner_attitude': '4.72',
  'Understand_need': '4.64',
  'Clear_info': '4.61',
  'Adequate_info': '4.51',
  'Overall_service': '4.49',
  'Total_score': '4.5'},
 {'Date': {'Year': '2021', 'Month': 'Jan'},
  'Waiting_time': '4.4',
  'Manner_attitude': '4.75',
  'Understand_need': '4.68',
  'Clear_info': '4.68',
  'Adequate_info': '4.62',
  'Overall_service': '4.6',
  'Total_score': '4.6'},
 {'Date': {'Year': '2021', 'Month': 'Feb'},
  'Waiting_time': '4.27',
  'Manner_attitude': '4.71',
  'Understand_need': '4.62',
  'Clear_info': '4.62',
  'Adequate_info': '4.55',
  'Overall_service': '4.54',
  'Total_score': '4.53'},
 {'Date': {'Year': '2021', 'Month': 'Mar'},
  'Waiting_time': '4.35',
  'Manner_attitude': '4.72',
  'Understand_need': '4.66',
  'Clear_info': '4.65',
  'Adequate_info': '4.59',
  'Overall_service': '4.59',
  'Total_score': '4.58'},
 {'Date': {'Year': '2021', 'Month': 'Apr'},
  'Waiting_time': '4.26',
  'Manner_attitude': '4.74',
  'Understand_need': '4.66',
  'Clear_info': '4.66',
  'Adequate_info': '4.589',
  'Overall_service': '4.53',
  'Total_score': '4.55'},
 {'Date': {'Year': '2021', 'Month': 'May'},
  'Waiting_time': '4.18',
  'Manner_attitude': '4.69',
  'Understand_need': '4.6',
  'Clear_info': '4.6',
  'Adequate_info': '4.49',
  'Overall_service': '4.45',
  'Total_score': '4.48'},
 {'Date': {'Year': '2021', 'Month': 'June'},
  'Waiting_time': '4.31',
  'Manner_attitude': '4.71',
  'Understand_need': '4.62',
  'Clear_info': '4.61',
  'Adequate_info': '4.57',
  'Overall_service': '4.51',
  'Total_score': '4.53'},
 {'Date': {'Year': '2021', 'Month': 'July'},
  'Waiting_time': '4.21',
  'Manner_attitude': '4.71',
  'Understand_need': '4.64',
  'Clear_info': '4.64',
  'Adequate_info': '4.55',
  'Overall_service': '4.5',
  'Total_score': '4.53'},
 {'Date': {'Year': '2021', 'Month': 'Aug'},
  'Waiting_time': '4.14',
  'Manner_attitude': '4.71',
  'Understand_need': '4.63',
  'Clear_info': '4.64',
  'Adequate_info': '4.58',
  'Overall_service': '4.5',
  'Total_score': '4.52'},
 {'Date': {'Year': '2021', 'Month': 'Sept'},
  'Waiting_time': '4.18',
  'Manner_attitude': '4.73',
  'Understand_need': '4.66',
  'Clear_info': '4.65',
  'Adequate_info': '4.6',
  'Overall_service': '4.52',
  'Total_score': '4.54'},
 {'Date': {'Year': '2021', 'Month': 'Oct'},
  'Waiting_time': '4.2',
  'Manner_attitude': '4.68',
  'Understand_need': '4.61',
  'Clear_info': '4.62',
  'Adequate_info': '4.54',
  'Overall_service': '4.49',
  'Total_score': '4.5'},
 {'Date': {'Year': '2021', 'Month': 'Nov'},
  'Waiting_time': '4.31',
  'Manner_attitude': '4.73',
  'Understand_need': '4.67',
  'Clear_info': '4.66',
  'Adequate_info': '4.6',
  'Overall_service': '4.58',
  'Total_score': '4.57'},
 {'Date': {'Year': '2021', 'Month': 'Dec'},
  'Waiting_time': '4.16',
  'Manner_attitude': '4.7',
  'Understand_need': '4.63',
  'Clear_info': '4.63',
  'Adequate_info': '4.55',
  'Overall_service': '4.52',
  'Total_score': '4.5'}]

In [5]:
print(json.dumps(response_1.json(), indent = 4))

[
    {
        "Date": {
            "Year": "2020",
            "Month": "May"
        },
        "Waiting_time": "4.25",
        "Manner_attitude": "4.71",
        "Understand_need": "4.63",
        "Clear_info": "4.62",
        "Adequate_info": "4.56",
        "Overall_service": "4.52",
        "Total_score": "4.53"
    },
    {
        "Date": {
            "Year": "2020",
            "Month": "June"
        },
        "Waiting_time": "3.95",
        "Manner_attitude": "4.71",
        "Understand_need": "4.62",
        "Clear_info": "4.64",
        "Adequate_info": "4.57",
        "Overall_service": "4.48",
        "Total_score": "4.48"
    },
    {
        "Date": {
            "Year": "2020",
            "Month": "July"
        },
        "Waiting_time": "3.79",
        "Manner_attitude": "4.69",
        "Understand_need": "4.61",
        "Clear_info": "4.61",
        "Adequate_info": "4.52",
        "Overall_service": "4.4",
        "Total_score": "4.41"
    },
    {
        "Date": {
            "Year": "2020",
            "Month": "Aug"
        },
        "Waiting_time": "4.18",
        "Manner_attitude": "4.71",
        "Understand_need": "4.61",
        "Clear_info": "4.61",
        "Adequate_info": "4.53",
        "Overall_service": "4.49",
        "Total_score": "4.5"
    },
    {
        "Date": {
            "Year": "2020",
            "Month": "Sept"
        },
        "Waiting_time": "4.27",
        "Manner_attitude": "4.74",
        "Understand_need": "4.67",
        "Clear_info": "4.67",
        "Adequate_info": "4.6",
        "Overall_service": "4.57",
        "Total_score": "4.57"
    },
    {
        "Date": {
            "Year": "2020",
            "Month": "Oct"
        },
        "Waiting_time": "4.34",
        "Manner_attitude": "4.72",
        "Understand_need": "4.64",
        "Clear_info": "4.66",
        "Adequate_info": "4.58",
        "Overall_service": "4.58",
        "Total_score": "4.57"
    },
    {
        "Date": {
            "Year": "2020",
            "Month": "Nov"
        },
        "Waiting_time": "4.37",
        "Manner_attitude": "4.74",
        "Understand_need": "4.67",
        "Clear_info": "4.69",
        "Adequate_info": "4.63",
        "Overall_service": "4.6",
        "Total_score": "4.6"
    },
    {
        "Date": {
            "Year": "2020",
            "Month": "Dec"
        },
        "Waiting_time": "4.13",
        "Manner_attitude": "4.72",
        "Understand_need": "4.64",
        "Clear_info": "4.61",
        "Adequate_info": "4.51",
        "Overall_service": "4.49",
        "Total_score": "4.5"
    },
    {
        "Date": {
            "Year": "2021",
            "Month": "Jan"
        },
        "Waiting_time": "4.4",
        "Manner_attitude": "4.75",
        "Understand_need": "4.68",
        "Clear_info": "4.68",
        "Adequate_info": "4.62",
        "Overall_service": "4.6",
        "Total_score": "4.6"
    },
    {
        "Date": {
            "Year": "2021",
            "Month": "Feb"
        },
        "Waiting_time": "4.27",
        "Manner_attitude": "4.71",
        "Understand_need": "4.62",
        "Clear_info": "4.62",
        "Adequate_info": "4.55",
        "Overall_service": "4.54",
        "Total_score": "4.53"
    },
    {
        "Date": {
            "Year": "2021",
            "Month": "Mar"
        },
        "Waiting_time": "4.35",
        "Manner_attitude": "4.72",
        "Understand_need": "4.66",
        "Clear_info": "4.65",
        "Adequate_info": "4.59",
        "Overall_service": "4.59",
        "Total_score": "4.58"
    },
    {
        "Date": {
            "Year": "2021",
            "Month": "Apr"
        },
        "Waiting_time": "4.26",
        "Manner_attitude": "4.74",
        "Understand_need": "4.66",
        "Clear_info": "4.66",
        "Adequate_info": "4.589",
        "Overall_service": "4.53",
        "Total_score": "4.55"
    },
    {
        "Date": {
            "Year": "2021",
            "Month": "May"
        },
        "Waiting_time": "4.18",
        "Manner_attitude": "4.69",
        "Understand_need": "4.6",
        "Clear_info": "4.6",
        "Adequate_info": "4.49",
        "Overall_service": "4.45",
        "Total_score": "4.48"
    },
    {
        "Date": {
            "Year": "2021",
            "Month": "June"
        },
        "Waiting_time": "4.31",
        "Manner_attitude": "4.71",
        "Understand_need": "4.62",
        "Clear_info": "4.61",
        "Adequate_info": "4.57",
        "Overall_service": "4.51",
        "Total_score": "4.53"
    },
    {
        "Date": {
            "Year": "2021",
            "Month": "July"
        },
        "Waiting_time": "4.21",
        "Manner_attitude": "4.71",
        "Understand_need": "4.64",
        "Clear_info": "4.64",
        "Adequate_info": "4.55",
        "Overall_service": "4.5",
        "Total_score": "4.53"
    },
    {
        "Date": {
            "Year": "2021",
            "Month": "Aug"
        },
        "Waiting_time": "4.14",
        "Manner_attitude": "4.71",
        "Understand_need": "4.63",
        "Clear_info": "4.64",
        "Adequate_info": "4.58",
        "Overall_service": "4.5",
        "Total_score": "4.52"
    },
    {
        "Date": {
            "Year": "2021",
            "Month": "Sept"
        },
        "Waiting_time": "4.18",
        "Manner_attitude": "4.73",
        "Understand_need": "4.66",
        "Clear_info": "4.65",
        "Adequate_info": "4.6",
        "Overall_service": "4.52",
        "Total_score": "4.54"
    },
    {
        "Date": {
            "Year": "2021",
            "Month": "Oct"
        },
        "Waiting_time": "4.2",
        "Manner_attitude": "4.68",
        "Understand_need": "4.61",
        "Clear_info": "4.62",
        "Adequate_info": "4.54",
        "Overall_service": "4.49",
        "Total_score": "4.5"
    },
    {
        "Date": {
            "Year": "2021",
            "Month": "Nov"
        },
        "Waiting_time": "4.31",
        "Manner_attitude": "4.73",
        "Understand_need": "4.67",
        "Clear_info": "4.66",
        "Adequate_info": "4.6",
        "Overall_service": "4.58",
        "Total_score": "4.57"
    },
    {
        "Date": {
            "Year": "2021",
            "Month": "Dec"
        },
        "Waiting_time": "4.16",
        "Manner_attitude": "4.7",
        "Understand_need": "4.63",
        "Clear_info": "4.63",
        "Adequate_info": "4.55",
        "Overall_service": "4.52",
        "Total_score": "4.5"
    }
]

### Convert the result into DataFrame

In [6]:
response_df = pd.DataFrame(response_1.json())
response_df

,Date,Waiting_time,Manner_attitude,Understand_need,Clear_info,Adequate_info,Overall_service,Total_score
0,"{'Year': '2020', 'Month': 'May'}",4.25,4.71,4.63,4.62,4.56,4.52,4.53
1,"{'Year': '2020', 'Month': 'June'}",3.95,4.71,4.62,4.64,4.57,4.48,4.48
2,"{'Year': '2020', 'Month': 'July'}",3.79,4.69,4.61,4.61,4.52,4.4,4.41
3,"{'Year': '2020', 'Month': 'Aug'}",4.18,4.71,4.61,4.61,4.53,4.49,4.5
4,"{'Year': '2020', 'Month': 'Sept'}",4.27,4.74,4.67,4.67,4.6,4.57,4.57
5,"{'Year': '2020', 'Month': 'Oct'}",4.34,4.72,4.64,4.66,4.58,4.58,4.57
6,"{'Year': '2020', 'Month': 'Nov'}",4.37,4.74,4.67,4.69,4.63,4.6,4.6
7,"{'Year': '2020', 'Month': 'Dec'}",4.13,4.72,4.64,4.61,4.51,4.49,4.5
8,"{'Year': '2021', 'Month': 'Jan'}",4.4,4.75,4.68,4.68,4.62,4.6,4.6
9,"{'Year': '2021', 'Month': 'Feb'}",4.27,4.71,4.62,4.62,4.55,4.54,4.53
10,"{'Year': '2021', 'Month': 'Mar'}",4.35,4.72,4.66,4.65,4.59,4.59,4.58
11,"{'Year': '2021', 'Month': 'Apr'}",4.26,4.74,4.66,4.66,4.589,4.53,4.55
12,"{'Year': '2021', 'Month': 'May'}",4.18,4.69,4.6,4.6,4.49,4.45,4.48
13,"{'Year': '2021', 'Month': 'June'}",4.31,4.71,4.62,4.61,4.57,4.51,4.53
14,"{'Year': '2021', 'Month': 'July'}",4.21,4.71,4.64,4.64,4.55,4.5,4.53
15,"{'Year': '2021', 'Month': 'Aug'}",4.14,4.71,4.63,4.64,4.58,4.5,4.52
16,"{'Year': '2021', 'Month': 'Sept'}",4.18,4.73,4.66,4.65,4.6,4.52,4.54
17,"{'Year': '2021', 'Month': 'Oct'}",4.2,4.68,4.61,4.62,4.54,4.49,4.5
18,"{'Year': '2021', 'Month': 'Nov'}",4.31,4.73,4.67,4.66,4.6,4.58,4.57
19,"{'Year': '2021', 'Month': 'Dec'}",4.16,4.7,4.63,4.63,4.55,4.52,4.5

### Split dataframe into date column and score columns for data cleaning

In [7]:
response_date = response_df.iloc[:,0]
response_date

0      {'Year': '2020', 'Month': 'May'}
1     {'Year': '2020', 'Month': 'June'}
2     {'Year': '2020', 'Month': 'July'}
3      {'Year': '2020', 'Month': 'Aug'}
4     {'Year': '2020', 'Month': 'Sept'}
5      {'Year': '2020', 'Month': 'Oct'}
6      {'Year': '2020', 'Month': 'Nov'}
7      {'Year': '2020', 'Month': 'Dec'}
8      {'Year': '2021', 'Month': 'Jan'}
9      {'Year': '2021', 'Month': 'Feb'}
10     {'Year': '2021', 'Month': 'Mar'}
11     {'Year': '2021', 'Month': 'Apr'}
12     {'Year': '2021', 'Month': 'May'}
13    {'Year': '2021', 'Month': 'June'}
14    {'Year': '2021', 'Month': 'July'}
15     {'Year': '2021', 'Month': 'Aug'}
16    {'Year': '2021', 'Month': 'Sept'}
17     {'Year': '2021', 'Month': 'Oct'}
18     {'Year': '2021', 'Month': 'Nov'}
19     {'Year': '2021', 'Month': 'Dec'}
Name: Date, dtype: object

In [8]:
type(response_date)

pandas.core.series.Series

In [9]:
pd.DataFrame(response_date.to_list())

    Year Month
0   2020   May
1   2020  June
2   2020  July
3   2020   Aug
4   2020  Sept
5   2020   Oct
6   2020   Nov
7   2020   Dec
8   2021   Jan
9   2021   Feb
10  2021   Mar
11  2021   Apr
12  2021   May
13  2021  June
14  2021  July
15  2021   Aug
16  2021  Sept
17  2021   Oct
18  2021   Nov
19  2021   Dec

In [10]:
response_date = pd.DataFrame(response_date.to_list())

In [13]:
old_month = ["June", "July", "Sept"]
new_month = ["Jun", "Jul", "Sep"]

response_date.replace(old_month, new_month, regex=True)

    Year Month
0   2020   May
1   2020   Jun
2   2020   Jul
3   2020   Aug
4   2020   Sep
5   2020   Oct
6   2020   Nov
7   2020   Dec
8   2021   Jan
9   2021   Feb
10  2021   Mar
11  2021   Apr
12  2021   May
13  2021   Jun
14  2021   Jul
15  2021   Aug
16  2021   Sep
17  2021   Oct
18  2021   Nov
19  2021   Dec

In [14]:
response_date = response_date.replace(old_month, new_month, regex=True)

In [15]:
response_score = response_df.iloc[:,1:]
response_score

,Waiting_time,Manner_attitude,Understand_need,Clear_info,Adequate_info,Overall_service,Total_score
0,4.25,4.71,4.63,4.62,4.56,4.52,4.53
1,3.95,4.71,4.62,4.64,4.57,4.48,4.48
2,3.79,4.69,4.61,4.61,4.52,4.4,4.41
3,4.18,4.71,4.61,4.61,4.53,4.49,4.5
4,4.27,4.74,4.67,4.67,4.6,4.57,4.57
5,4.34,4.72,4.64,4.66,4.58,4.58,4.57
6,4.37,4.74,4.67,4.69,4.63,4.6,4.6
7,4.13,4.72,4.64,4.61,4.51,4.49,4.5
8,4.4,4.75,4.68,4.68,4.62,4.6,4.6
9,4.27,4.71,4.62,4.62,4.55,4.54,4.53
10,4.35,4.72,4.66,4.65,4.59,4.59,4.58
11,4.26,4.74,4.66,4.66,4.589,4.53,4.55
12,4.18,4.69,4.6,4.6,4.49,4.45,4.48
13,4.31,4.71,4.62,4.61,4.57,4.51,4.53
14,4.21,4.71,4.64,4.64,4.55,4.5,4.53
15,4.14,4.71,4.63,4.64,4.58,4.5,4.52
16,4.18,4.73,4.66,4.65,4.6,4.52,4.54
17,4.2,4.68,4.61,4.62,4.54,4.49,4.5
18,4.31,4.73,4.67,4.66,4.6,4.58,4.57
19,4.16,4.7,4.63,4.63,4.55,4.52,4.5

### Combine date column and score columns

In [16]:
response_df_cleaned = pd.concat([response_date, response_score], axis = 1)
response_df_cleaned

,Year,Month,Waiting_time,Manner_attitude,Understand_need,Clear_info,Adequate_info,Overall_service,Total_score
0,2020,May,4.25,4.71,4.63,4.62,4.56,4.52,4.53
1,2020,Jun,3.95,4.71,4.62,4.64,4.57,4.48,4.48
2,2020,Jul,3.79,4.69,4.61,4.61,4.52,4.4,4.41
3,2020,Aug,4.18,4.71,4.61,4.61,4.53,4.49,4.5
4,2020,Sep,4.27,4.74,4.67,4.67,4.6,4.57,4.57
5,2020,Oct,4.34,4.72,4.64,4.66,4.58,4.58,4.57
6,2020,Nov,4.37,4.74,4.67,4.69,4.63,4.6,4.6
7,2020,Dec,4.13,4.72,4.64,4.61,4.51,4.49,4.5
8,2021,Jan,4.4,4.75,4.68,4.68,4.62,4.6,4.6
9,2021,Feb,4.27,4.71,4.62,4.62,4.55,4.54,4.53
10,2021,Mar,4.35,4.72,4.66,4.65,4.59,4.59,4.58
11,2021,Apr,4.26,4.74,4.66,4.66,4.589,4.53,4.55
12,2021,May,4.18,4.69,4.6,4.6,4.49,4.45,4.48
13,2021,Jun,4.31,4.71,4.62,4.61,4.57,4.51,4.53
14,2021,Jul,4.21,4.71,4.64,4.64,4.55,4.5,4.53
15,2021,Aug,4.14,4.71,4.63,4.64,4.58,4.5,4.52
16,2021,Sep,4.18,4.73,4.66,4.65,4.6,4.52,4.54
17,2021,Oct,4.2,4.68,4.61,4.62,4.54,4.49,4.5
18,2021,Nov,4.31,4.73,4.67,4.66,4.6,4.58,4.57
19,2021,Dec,4.16,4.7,4.63,4.63,4.55,4.52,4.5

### Export as .csv for further manipulation

In [17]:
response_df_cleaned.to_csv("1823_Customer_Satisfaction.csv")